<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <div class="card border-primary mt-4">
            <div class="card-header bg-primary text-white text-center">Acceso</div>
            <div class="card-body">
                <form role="form" action="../index.php" method="post">
                    <fieldset>
                        <div class="form-group mt-4">
                            <input class="form-control mx-auto" placeholder="Usuario" name="rent_app_username" type="text" autofocus>
                        </div>
                        <div class="form-group mt-2">
                            <input class="form-control mx-auto" placeholder="Contraseña" name="rent_app_password" type="password" value="">
                        </div>
                        <div class="form-group mt-4">
                            <input type="submit" class="form-control btn btn-md btn-success btn-block" value="Ingresar" />
                        </div>
                    </fieldset>
                    <div class="text-end mt-4">
                        <a href="./restore_access.html" >Recuperar contrase&ntilde;a</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
